@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

footer {
    font-size: 14px;
    color: #fff;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}